:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100pt;
  margin: 0;
}

.links-list {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  color: black;
  list-style: none;
  padding: 0;
}

.links-list a {
  text-decoration: none;
  color: inherit;
}

.article-collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  margin-inline-start: 70px;
  margin-inline-end: 70px;
}

.article-instance {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 8px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  height: auto;
  display: inline-block;
  cursor: pointer;
  transition: border-color, background-color 0.25s;
}

.article-instance a {
  text-decoration: none;
  color: inherit;
}

.article-instance img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.article-instance .article-title {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  font-size: larger;
}

.article-instance .other-info {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}

.article-instance:hover {
  border-color: hsla(186, 27%, 22%, 0.1);
  background-color: hsla(186, 27%, 22%, 0.09);
}

.footer {
  text-align: center;
}
